/* Google font start */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* google font end */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f1f1f3;
}
/* nav section style start here */
header nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}

.nav-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.nav-btn{
    padding: 15px 30px;
    border-radius: 8px;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
/* nav section style end */

/* Banner section style */

#banner-section{
    max-height: 560px;
    background-color: #C6E4D6;
    border-radius: 24px;
}

.banner-container{
    display: flex;
    gap: 30px;
}

.banner-content{
    margin: 117px 60px;
    width: 70%;
}

.banner-img{
    margin: 80px 60px 80px 0;
    width: auto;
    
}

.banner-subtitle{
    font-size: 24px;
    color: #0E0E0E;
    opacity: 0.5;
    margin-bottom: 16px;
}

.banner-title{
    font-size: 45px;
    font-weight: bold;
    color: #0E0E0E;
    line-height: auto;
}

.banner-btn{
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600px;
    background-color: #006A50;
    color: #ffffff;
    border-radius: 8px;
    margin-top: 24px;
    cursor: pointer;
    outline: none;
    border: none;
    
}

.banner-btn:hover{
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600px;
    background-color: #ffffff;
    color: #006A50;
    border-radius: 8px;
    margin-top: 24px;
}

/* vision section style */

#vision-section{
    margin-top: 80px;
}

.vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.vision-description{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 0.7;
    margin-bottom: 32px;
}

.vision-card-box{
    display: flex;
    gap: 24px;
}

.vision-card{
    padding: 32px;
    background-color: #afc4e8fa;
    border-radius: 16px;
    
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 0.8;
    margin-bottom: 12px;
    margin-top: 24px;
}

.card-description{
    font-size: 16px;
    color: #0E0E0E;
    opacity: 0.7;
    line-height: 24px;
    margin-bottom: 24px;
}

.card-btn{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #5490F5;
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.card-btn:hover{
    color: #5490F5;
    background-color: #FFFFFF;
}

.vision-card1{
    padding: 32px;
    background-color: #8beecdfa;
    border-radius: 16px;
}

.vision-card2{
    padding: 32px;
    background-color: #f8eadafa;
    border-radius: 16px;
}

.card-btn1{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #09A15C;
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.card-btn1:hover{
    background-color: #FFFFFF;
    color: #09A15C;
}

.card-btn2{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FFC239;
    border-radius: 8px;
    padding: 11px 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.card-btn2:hover{
    background-color: #FFFFFF;
    color: #FFC239;
}